
<h1>Create Comic</h1>
<br />
<hr />
<br />

<form method="post">
    <label>Nombre</label>
    <input type="text" class="form-control" name="nombre"/>
    <label>Imagen</label>
    <input type="text" class="form-control" name="img" />
    <label>Descripcion</label>
    <input type="text" class="form-control" name="descripcion" />
    <button class="btn btn-success">Insertar</button>
</form>