@model List<Comic>

<h1>Comics SQL y Oracle</h1>
<br />
<hr />
<br />

<a asp-controller="Comics" asp-action="Create">Create New</a>

<div class="container">
    @foreach(Comic comic in Model){
        <div class="col-3">
            <img src=@comic.Imagen style="width: 200px; heigth: 300px"/>
            <h5>@comic.Nombre</h5>
            <p>@comic.Descripcion</p>
            @Html.ActionLink("Detalles", "Detalles", "Comics",
            new {id = comic.IdComic})
        </div>
    }
</div>